.left-align-footer {
  text-align: left;
}

.question {
  font-weight: bold;
  text-decoration-line: underline;
}

a {
  color: #D77762;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #1a454f;
}

a:focus {
  text-decoration: none;
}

img {
  height: 800px;
  width: 600px;
}

.tutorial-table {
  border: 1px solid black;
}
