--- 
layout: default 
section: Section 2 - Static Analysis
parent: Testing / QA
parentUrl: /pages/tutorials/testing/index.html
---
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/css/tutorial.css" | prepend: site.baseurl | prepend: site.url }}">

<div id="wrapper" class="extra-large-padding-top">
        
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h1>{{ page.section }}</h1>
        <ol class="sidebar-nav">
            {% for section in site.data.tutorials-testing %}
                {% if section.heading == page.section %}
                    {% for subheading in section.sub-sections %}
                    <li><a href="#{{ subheading.url }}">{{ subheading.heading }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row" id="introduction">
                <div class="col-lg-12">
                    <pre>
                            1) Code coverage
                            a)  ECLEMMA Eclipse plugin
                            b)  Maven plugin

                            2) FindBugs
                            3) PMD
                            4) checkstyle
                            5) find security bugs - http://find-sec-bugs.github.io/

                            code generators
                            http://www.junit-tools.org/index.php
                            https://randoop.github.io/randoop/
                            http://www.evosuite.org/downloads/
                            http://moreunit.sourceforge.net/
                            
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>