--- 
layout: default 
section: Section 2 - Static Analysis
parent: Testing / QA
parentUrl: /pages/tutorials/testing/index.html
---
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/css/tutorial.css" | prepend: site.baseurl | prepend: site.url }}">

<div id="wrapper" class="extra-large-padding-top">
        
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h1>{{ page.section }}</h1>
        <ol class="sidebar-nav">
            {% for section in site.data.tutorials-testing %}
                {% if section.heading == page.section %}
                    {% for subheading in section.sub-sections %}
                    <li><a href="#{{ subheading.url }}">{{ subheading.heading }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[0].url }}">
                <div class="col-lg-12">
                    <h2>1. {{ site.data.tutorials-testing.[1].sub-sections[0].heading }} </h2>
                    <p class="question">What is static analysis</p>
                    <p class="answer">Static analysis is process of analyzing the source code of a program to establish a metric on the quality of the code.  Wikipedia describes static analysis as being
                        <blockquote cite="https://en.wikipedia.org/wiki/Static_program_analysis">
                            <p>
                                Static program analysis is the analysis of computer software that is performed without actually executing programs 
                                (analysis performed on executing programs is known as dynamic analysis). In most cases the analysis is performed 
                                on some version of the source code, and in the other cases, some form of the object code.
                            </p>
                            <p>
                                The term is usually applied to the analysis performed by an automated tool, with human analysis being called program 
                                understanding, program comprehension, or code review. Software inspections and software walkthroughs are also used in 
                                the latter case.
                            </p>
                            <footer class="left-align-footer"><a href="https://en.wikipedia.org/wiki/Static_program_analysis">https://en.wikipedia.org/wiki/Static_program_analysis</a></footer>
                        </blockquote>
                    </p>
                    <p class="question">How are static analysis tools used</p>
                    <p class="answer">Static analysis is normally run as part of the build but can be kicked off manually for a single class from an IDE using various plugins.</p>
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[1].url }}">
                <div class="col-lg-12">
                    <h2>2. {{ site.data.tutorials-testing.[1].sub-sections[1].heading }} </h2>
                    <p>Code coverage is a metric which is used to determine how much of the code is covered by tests.  Different code coverage tools may report different statics but the common ones are;</p>
                    <ul>
                        <li>Class coverage - reports which classes have been executed when running the tests</li>
                        <li>Method coverage - has the method been executed </li>
                        <li>Line / Statement coverage - which lines are executed and which are not</li>
                        <li>Branch coverage - has each branch of the code been executed</li>
                    </ul>
                    <p>Whereas having a low code coverage percentage indicates that the system under test is lacking automated tests having a high code coverage percent
                        , whilst desirable, in itself could actually be a false indicator of code quality.
                    </p>
                    
                </div>
                <div class="col-lg-12">
                    <h4>Running code coverage analysis in the Eclipse IDE</h4>
                    <p>To work through some examples of how code coverage tools works we a going to be using the <a href="http://www.eclemma.org/">EclEmma code coverage plugin</a> 
                        for <a href="https://www.eclipse.org/">Eclipse</a>, this is pre-installed in the latest version (Oxygen) but will need to be manually installed in earlier 
                        versions.    
                     </p>
                    <p>To show how code coverage works will start with the FizzBuzz application that was created in Section 1</p>
                    <h5>FizzBuzz.java</h5>
                    <script src="https://gist.github.com/daisonp/6d3fdd68c0edc6693b09f816b195c3a6.js"></script>
                    <h5>FizzBuzzTest.java</h5>
                    <script src="https://gist.github.com/daisonp/a71e27f35a3954447ca0704425dcd443.js"></script>
                    
                    <h5>Running the tests</h5>
                    <p>Running the EclEmma code coverage in eclipse is done the same way as executing a test.  If the test class is open just right click in code editor tab and then select 'coverage as' --> 'JUnit Test'</p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-1.png" alt="Run code coverage" class="img-responsive img-hover"> 
                    
                    <h5>Code coverage results</h5>
                    <p>Results of running the tests via EclEmma</p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-2.png" alt="code coverage result 1" class="img-responsive img-hover"> 
                    <p>The images show 3 views, these area;</p>
                    <dl>
                        <dt>Junit</dt> 
                            <dd>Shows successful execution of the tests</dd>
                        <dt>Coverage</dt>
                            <dd>Shows the number of instructions in scope of the coverage run, with the number of covered and missed instructions</dd>
                        <dt>Code editor view</dt>
                            <dd>When the FizzBuzz class is brought up in the code editor we can now see some lines are highlighted, lines highlighted in green mean they were executed by tests</dd>
                    </dl>

                </div>
                <div class="col-lg-12">
                    <h4>Showing reduced coverage</h4>
                    <p>Having 100% code coverage is trivial in a small program like FizzBuzz. So what we will now do is create another version called ExtraFizzBuzz which will return 'ExtraFizzBuzz' if the supplied value is divisable by 3, 10 and 15.  Instead of following TDD practices of writing the test first we will amend the code first to show how code not covered by tests is displayed.</p>
                    <h5>ExtraFizzBuzz.java</h5>
                    <script src="https://gist.github.com/daisonp/dcb44eeb5036c8b5379e3dff653d480e.js"></script>
                    <p>The only difference between this and the FizzBuzz code is the addition of lines 8 to 10 which check if a values is divisable by 10 and outputs the word 'Extra' if it is. The result of running ExtraFizzBuzzTest (which is a copy of FizzBuzzTest with the class being called changed) will be</p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-3.png" alt="code coverage result 3" class="img-responsive img-hover"> 
                    <p>Things to notice from the result here are;</p>
                    <ol>
                        <li>Code coverage view has been changed to show lines of code instead of instructions, this is done by selecting the metric to be displayed from the 'View Menu' in the Coverage view.</li>
                        <li>Out of 10 lines of code in ExtraFizzBuzz only 9 were executed.  No lines from FizzBuzz were executed but this is due to running the code coverage analysis against a single test class.  Code coverage, or just tests, can be ran for the whole project by right clicking on the project and selecting the relevant option</li>
                        <li>Line 8 is highlighted in yellow which indicates the line was executed but not all branches of the <code>if</code> statement, hovering over the line will show how many branches the statement contains and how many were missed.</li>
                        <li>Line 9 is highlighted in red which indicates that the line was not executed during the tests.</li>
                    </ol>
                </div>
                <div class="col-lg-12">
                    <h4>Fallacies about code coverage</h4> 
                    <h5>1. 100% code coverage means there will be no bugs</h5>
                    <p>This one can easily be disproved by adding a couple of new tests to the ExtraFizzBuzzTest class</p>
                    <script src="https://gist.github.com/daisonp/ee3896ec3dc106f43e7571c528773b60.js"></script>
                    <p>3 new tests have been added; a test to check that if a number that is divisable by 10 but not by 3 is supplied then 'Buzz' and not 'ExtraFizzBuzz' is output, test to check that a number divisable by 10 and 3 outputs 'ExtraFizzBuzz' and finally a test to check that the program handles a null value being supplied. The result of running these tests are;
                    </p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-4.png" alt="code coverage result 4" class="img-responsive img-hover"> 
                    <p>As the image shows 100% code coverage is now achieved but there is a bug that causes a <code>NullPointerException</code> when a null value is supplied</p>
                    <h5>2. All code needs to be covered</h5>
                    <p>Lets look at an example of a Customer class that contains fields for id, name and date of birth, along with a method that returns the age of someone on any given date.  The majority of this code (contructor, getters and setters) has been generated by the IDE, the only method that was entered manually is the ageOnDate method.</p>
                    <script src="https://gist.github.com/daisonp/de4e69612710aed0a1a16ca4762147f6.js"></script>
                    <p>As all the constructor, getter and setters methods are auto generated is there any need to test these methods?  The common consensus to this question is no, even if all these methods were added in manually and not auto generated then writing tests for them would generally be a waste of time.  That's not to say that these methods cannot contain bugs but the likelihood is low and there are other analysis tools which can find these bugs for us.</p>
                    <p>So if we are not testing the getters, setters and construtor methods what should be tested?  We should be writing tests for all methods that contain logic that is not just assigning values straight from the parameters to a variable.  In this case that is just the <code>ageOnDate</code> method.</p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-5.png" alt="code coverage result 5" class="img-responsive img-hover"> 
                </div>
                <div class="col-lg-12">
                    <h4>Running code coverage as part of a maven build</h4>
                    <p>
                        We have seen how to run a single class or even a project through a code coverage framework from an IDE but this is not the most widely used process.  Code coverage is normally run through a build system such as <a href="http://ant.apache.org/" target="_blank">ANT</a>, <a href="https://maven.apache.org/" target="_blank">Maven</a> or <a href="https://gradle.org/" target="_blank">Gradle</a> and generally in a <a href="https://en.wikipedia.org/wiki/Continuous_integration">continous integration</a> system such as <a href="https://jenkins.io/" target="_blank">Jenkins</a> or <a href="https://travis-ci.org/" target="_blank">Tavis CI</a>
                    </p>
                    <p>
                        To run code coverage from maven we will be using the <a href="http://www.jacoco.org/jacoco/trunk/index.html">JaCoCo</a> build plugin, this is the framework that the EclEmma eclipse plugin is based on.  To use this plugin we need to update the pom.xml file of the project.
                    </p>
                    <script src="https://gist.github.com/daisonp/eab120b6f189cf113f1e6fe1437e90ba.js"></script>
                    <p>
                        The changes in the pom is the addition of the build section, the plugin for jacoco hooks into the <a href="https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html" target="_blank">Maven build lifecycle</a> which runs the jacoco code on the specified phases.  This tutorial is not going to go into depth on how to use maven we will just add the necessary settings to the pom file, describe the changes and run the build.  
                    </p>
                    <p>
                        It should be noted that for this configuration the code coverage reports will only be created if there are no test failures, so either remove the test for null from ExtraFizzBuzzTest or fix the code in ExtraFizzBuzz to handle nulls.
                    </p>
                    <p>
                        Break down of the changes
                        <ul>    
                            <li class="strong-list-item">Lines 30 to 80 - Build section</li>
                            <dd>Build configuation to override the default maven behaviour.</dd>

                            <li class="strong-list-item">Lines 32 to 40 - Compiler plugin</li>
                            <dd>Configuration of the Maven compiler plugin. Not required to run the code coverage analysis just added to this build file to set the version of code to compile against.</dd>

                            <li class="strong-list-item">Lines 42 to 49 - Maven surefire plugin</li>
                            <dd>The Surefire Plugin is used during the test phase of the build lifecycle to execute the unit tests of an application. It generates reports in two different file formats; plain text and XML. The <code>argLine</code> configuration allows arguments to be supplied from the command line to the test environment during execution.</dd>

                            <li class="strong-list-item">Lines 51 to 78 - Jacoco code coverage plugin</li>
                            <dd>This is the configuration for the code coverage plugin.  It contains 2 execution goals which run the jacoco goals</dd>
                            <dd>The execution with an id of <code>pre-unit-test</code> runs the <code>prepare-agent</code> goal setting the destination of the output file created by jacoco</dd>
                            <dd><code>post-unit-test</code>execution id runs after the test phase of the maven surefire plugin and takes the output file from the <code>pre-unit-test</code> execution and transforms it into a series of web pages in the specified <code>outputDirectory</code></dd>

                        </ul>
                    </p>
                    <p>
                        To execute the maven build from the IDE then right click on the project and select 'Run As' --> 'Maven install'.  If you have maven installed locally then you can also issue the <code>mvn clean install</code> command in a console when in the same directory as the pom.xml file
                    </p>
                    <p>
                        Once the maven build has run then a <code>target/site/jacoco-ut/index.html</code> file will be created, which shows the results of the code coverage analysis.
                    </p>
                    <!-- <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-6.png" alt="code coverage result 6" class="img-responsive img-hover">  -->
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-7.png" alt="code coverage result 7" class="img-responsive img-hover"> 
                    <p>
                        The <code>index.html</code> file will give you the overall code coverage analysis for project, you can drill down to more in depth analysis on a class by class basis.
                    </p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-8.png" alt="code coverage result 8" class="img-responsive img-hover"> 
                    
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[2].url }}">
                <div class="col-lg-12">
                    <h2>3. {{ site.data.tutorials-testing.[1].sub-sections[2].heading }} </h2>
                    <!-- <div class="col-lg-6"> -->
                    <p>SpotBugs (available at <a href="https://spotbugs.github.io/">https://spotbugs.github.io/</a>) is a static analysis tool that checks source code for a list of 400+ common bugs.  The latest version requires java 8+ to run, if java 8 is not available to you then previous versions of the tool can run with earlier java version.  Previous versions of SpotBugs was called FindBugs.  </p>
                    <h4>Running SpotBugs in Eclipse</h4>
                    <p>SpotBugs can be run from the IDE or via a build framework in the same way as the code coverage tools were.  SpotBugs can be installed from the <a href="https://marketplace.eclipse.org/content/spotbugs-eclipse-plugin">Eclipse Market place</a>, once installed Spot Bugs can be ran on a single class or project by right clicking and selecting SpotBugs --> Find Bugs from the context menu.</p>
                    <!-- </div>
                    <div class="col-lg-6">
                        <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/findbugs-1.png" alt="Find Bugs 1" class="img-responsive img-hover"> 
                    </div> -->
                    <p>For the purpose of showing how SpotBugs reports suspected bugs we will amend the Customer class created in the Code Coverage section to have a couple of deliberate bugs.</p>
                    <script src="https://gist.github.com/anonymous/c20f88d72c3d0dede8c10915ece5bd36.js"></script>
                    <ol>
                        <li>Line 20 - variable is being self assigned as the name of the parameter is different</li>
                        <li>Line 46 - Equals method is overriden but not the hashcode</li>
                        <li>Line 67 - != comparison is used on a string instead of the <code>.equals()</code> method</li>
                    </ol>
                    <p>Once the SpotBugs analysis is run we can see data in 2 views; BugExplorer view shows the bugs found in the code and the Bug Info tab gives a detailed breakdown of the selected bug.</p>
                    <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/findbugs-2.png" alt="Find Bugs 2" class="img-responsive img-hover"> 
                    <h4>Running SpotBugs via maven</h4>
                    <p>The easiest way to run SpotBugs in maven is as part of the reporting phase which is excuted as part of the site goal.  To run maven in Eclipse setup a maven build with Goals of <code>clean install site</code>, to run from a command prompt use <code>mvn clean install site</code></p>
                    <script src="https://gist.github.com/daisonp/a57c7a716f00a7e73b8843173e530dc9.js"></script>
                    <ul>
                        <li class="strong-list-item">Line 17 - SpotBugs version</li>
                        <dd>Setting a property to use later in the configuration. 3.1.0-RC6 is the latest version; the RC indicates that it is a release candidate version, this shouldn't be used in a production environment.</dd>

                        <li class="strong-list-item">Lines 43 to 51- Reporting configuration</li>
                        <dd>Adds the SpotBugs plugin to the reporting section of the pom file, these plugins are run when the <code>site</code> goal is run, no additional configuration is required.</dd>
                    </ul>
                    <p>This configuration is fine if you only want to run SpotBugs periodically when the site information is generated. Realistically though you will want to run SpotBugs as part of each build and sometimes you may even want to fail the build if errors are found.  First of all we see how to generate reports on a build without running a full <code>site</code> phase of maven. </p>
                    
                    <p>
                    We can do this by adding the following configuration to the <code>build</code> section.
                    <script src="https://gist.github.com/daisonp/1ca4a2aae8d3e7348a7abc291c623dd4.js"></script>
                    </p>
                        


                    
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[3].url }}">
                <div class="col-lg-12">
                    <h2>4. {{ site.data.tutorials-testing.[1].sub-sections[3].heading }} </h2>
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[4].url }}">
                <div class="col-lg-12">
                    <h2>5. {{ site.data.tutorials-testing.[1].sub-sections[4].heading }} </h2>
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[5].url }}">
                <div class="col-lg-12">
                    <h2>6. {{ site.data.tutorials-testing.[1].sub-sections[5].heading }} </h2>
                    <p>http://find-sec-bugs.github.io/</p>
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[6].url }}">
                <div class="col-lg-12">
                    <h2>7. {{ site.data.tutorials-testing.[1].sub-sections[6].heading }} </h2>
                    <pre>
code generators
http://www.junit-tools.org/index.php
https://randoop.github.io/randoop/
http://www.evosuite.org/downloads/
http://moreunit.sourceforge.net/
                    </pre>                    
                </div>
            </div>            

        </div>
    </div>

    <!-- The Modal -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>