--- 
layout: default 
section: Section 2 - Static Analysis
parent: Testing / QA
parentUrl: /pages/tutorials/testing/index.html
---
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/css/tutorial.css" | prepend: site.baseurl | prepend: site.url }}">

<div id="wrapper" class="extra-large-padding-top">
        
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h1>{{ page.section }}</h1>
        <ol class="sidebar-nav">
            {% for section in site.data.tutorials-testing %}
                {% if section.heading == page.section %}
                    {% for subheading in section.sub-sections %}
                    <li><a href="#{{ subheading.url }}">{{ subheading.heading }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[0].url }}">
                <div class="col-lg-12">
                    <h2>1. {{ site.data.tutorials-testing.[1].sub-sections[0].heading }} </h2>
                    <p class="question">What is static analysis</p>
                    <p class="answer">Static analysis is process of analyzing the source code of a program to establish a metric on the quality of the code.  Wikipedia describes static analysis as being
                        <blockquote cite="https://en.wikipedia.org/wiki/Static_program_analysis">
                            <p>
                                Static program analysis is the analysis of computer software that is performed without actually executing programs 
                                (analysis performed on executing programs is known as dynamic analysis). In most cases the analysis is performed 
                                on some version of the source code, and in the other cases, some form of the object code.
                            </p>
                            <p>
                                The term is usually applied to the analysis performed by an automated tool, with human analysis being called program 
                                understanding, program comprehension, or code review. Software inspections and software walkthroughs are also used in 
                                the latter case.
                            </p>
                            <footer class="left-align-footer"><a href="https://en.wikipedia.org/wiki/Static_program_analysis">https://en.wikipedia.org/wiki/Static_program_analysis</a></footer>
                        </blockquote>
                    </p>
                    <p class="question">How are static analysis tools used</p>
                    <p class="answer">Static analysis is normally run as part of the build but can be kicked off manually for a single class from an IDE using various plugins.</p>
                </div>
            </div>

            <div class="row" id="{{ site.data.tutorials-testing.[1].sub-sections[1].url }}">
                <div class="col-lg-12">
                    <h2>2. {{ site.data.tutorials-testing.[1].sub-sections[1].heading }} </h2>
                    <p>Code coverage is a metric which is used to determine how much of the code is covered by tests.  Different code coverage tools may report different statics but the common ones are;</p>
                    <ul>
                        <li>Class coverage - reports which classes have been executed when running the tests</li>
                        <li>Method coverage - has the method been executed </li>
                        <li>Line / Statement coverage - which lines are executed and which are not</li>
                        <li>Branch coverage - has each branch of the code been executed</li>
                    </ul>
                    <p>Whereas having a low code coverage percentage indicates that the system under test is lacking automated tests having a high code coverage percent
                        , whilst desirable, in itself could actually be a false indicator of code quality.
                    </p>
                    
                    <p>To work through some examples of how code coverage tools works we a going to be using the <a href="http://www.eclemma.org/">EclEmma code coverage plugin</a> 
                       for <a href="https://www.eclipse.org/">Eclipse</a>, this is pre-installed in the latest version (Oxygen) but will need to be manually installed in earlier 
                       versions.    
                    </p>
                </div>
                <div class="col-lg-12">
                    <p>To show how code coverage works will start with the FizzBuzz application that was created in Section 1</p>
                    <h5>FizzBuzz.java</h5>
                    <script src="https://gist.github.com/daisonp/6d3fdd68c0edc6693b09f816b195c3a6.js"></script>
                    <h5>FizzBuzzTest.java</h5>
                    <script src="https://gist.github.com/daisonp/a71e27f35a3954447ca0704425dcd443.js"></script>
                    
                        <p>Running the EclEmma code coverage in eclipse is done the same way as executing a test.  If the test class is open just right click in code editor tab and then select 'coverage as' --> 'JUnit Test'</p>
                        <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-1.png" alt="Run code coverage" class="img-responsive img-hover"> 
                    
                        <img src="{{ site.url | prepend: site.base_url }}/img/tutorials/testing/section-2/code-coverage-2.png" alt="Run code coverage" class="img-responsive img-hover"> 
                        
                    
                </div>
            </div>


            <pre>
                    1) Code coverage
                    a)  ECLEMMA Eclipse plugin
                    b)  Maven plugin

                    2) FindBugs
                    3) PMD
                    4) checkstyle
                    5) find security bugs - http://find-sec-bugs.github.io/

                    code generators
                    http://www.junit-tools.org/index.php
                    https://randoop.github.io/randoop/
                    http://www.evosuite.org/downloads/
                    http://moreunit.sourceforge.net/
                    
            </pre>
        </div>
    </div>

    <!-- The Modal -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>