<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url}}/index.html">Daison</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for tutorial in site.data.tutorials %}
                          <li>
                            <a href="{{ site.baseurl | prepend: site.url }}/{{ tutorial.url }}">{{ tutorial.name }} </a>
                          </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% for project in site.data.projects %}
                        <li>
                          <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ site.baseurl | prepend: site.url }}/blog/index.html">Blog</a> </li>
                <li><a href="{{ site.baseurl | prepend: site.url }}/cv/cv.html">CV</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
